<div class="flex justify-start">
  <div class="flex items-center justify-center">
    <div class="inline-flex rounded-md shadow-md hover:shadow-lg focus:shadow-lg" role="group">
      <div
        class="inline-block rounded-l bg-blue-500 px-4 py-2.5 text-xs font-medium uppercase leading-tight text-white"
        disabled
      >
        {{ node.id }}
      </div>

      <!-- Node Settings Button -->
      <button
        type="button"
        class="inline-block items-center border border-blue-500 bg-blue-600 px-2 py-1 uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
        (click)="optionClick.emit(NodeOption.EditNode)"
      >
        <img height="12px" width="12px" src="assets/icons/settings.svg" />
      </button>

      <!-- Add Node Button -->
      <button
        type="button"
        class="inline-block items-center border border-blue-500 bg-blue-600 px-2 py-1 uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
        (click)="optionClick.emit(NodeOption.AddNode)"
      >
        <img height="12px" width="12px" src="assets/icons/plus-squared.svg" />
      </button>

      <!-- Links Settings Button -->
      <button
        type="button"
        class="inline-block items-center border border-blue-500 bg-blue-600 px-2 py-1 uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
        (click)="optionClick.emit(NodeOption.EditLinks)"
      >
        <img height="12px" width="12px" src="assets/icons/arrow.svg" />
      </button>

      <!-- Delete Node Button -->
      <button
        type="button"
        class="inline-block items-center rounded-r-md border border-blue-500 bg-blue-600 px-2 py-1 uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
        (click)="optionClick.emit(NodeOption.DeleteNode)"
      >
        <img height="12px" width="12px" src="assets/icons/bin.svg" />
      </button>
    </div>
  </div>
</div>
