<!-- Links -->
<div
  class="mt-2 w-96 overflow-hidden rounded border border-blue-600 bg-white px-6 pt-4 pb-2 shadow-lg"
>
  <ul
    *ngIf="node?.links?.length"
    class="mb-4 rounded-lg border border-gray-200 bg-white text-gray-900"
  >
    <li
      class="w-full border-b border-gray-200 px-4 py-2"
      *ngFor="let link of node?.links"
      (mouseover)="highlightNode(link.nodeId)"
      (mouseout)="highlightNode(null)"
    >
      <span
        class="mr-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-semibold text-gray-800 dark:bg-gray-700 dark:text-gray-300"
        >{{ link.nodeId }}</span
      >
      {{ link.text }}
      <button
        type="button"
        [appButton]="{ size: 'xs', color: 'blue' }"
        class="float-right px-3 py-1.5"
        (click)="removeLink(link.nodeId)"
      >
        Remove
        <!-- <img src="assets/icons/bin.svg" /> -->
      </button>
    </li>
  </ul>

  <footer class="mb-2">
    <button type="button" [appButton] class="w-full" (click)="isAddLinkVisible = true">
      Add Link
    </button>
  </footer>
</div>

<!-- Add Link -->
<div
  *ngIf="isAddLinkVisible"
  class="mt-2 w-96 rounded border border-blue-600 bg-white px-6 pt-4 pb-2 shadow-lg"
  cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
>
  <form [formGroup]="form" (ngSubmit)="addLink()" (keyup.enter)="addLink()">
    <div class="mb-4 w-full max-w-sm">
      <label class="sr-only" for="nodeShape">Node</label>
      <app-node-select
        class="w-full"
        [nodes]="nodes"
        formControlName="node"
        (optionHover)="highlightNode($event)"
        cdkFocusInitial
      ></app-node-select>
    </div>

    <div class="mb-4 w-full max-w-sm">
      <label class="sr-only" for="linkText">Text</label>
      <input
        class="focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none"
        id="linkText"
        type="text"
        placeholder="Text"
        formControlName="text"
      />
    </div>

    <footer class="mb-2">
      <button type="submit" [appButton] class="w-full" [disabled]="!form.valid">
        Add Link
      </button>
    </footer>
  </form>
</div>
